html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F5F5;

    height: 100%;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 120%;
    font-style: normal;
}

h1,
h2,
h3 {
    margin-top: 0;
    /* Удаление верхнего отступа */
    margin-bottom: 0;
    /* Удаление нижнего отступа */
}

header {
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    /* display: none; */
}

.logo-btn,
.logo-btn-cl {
    width: 50px;
    height: 50px;
    background-position: center;
    cursor: pointer;
    /* Убедитесь, что фоновое изображение не повторяется */
    background-repeat: no-repeat;
    /* Установите размер фонового изображения */
    background-size: contain;
    /* Установите цвет фона, который будет виден, если изображение не загрузится */
    background-color: transparent;
    /* Добавьте другие стили, если необходимо */
    border: none;
    font-size: 16px;
    padding: 10px;
    /* Установите фоновое изображение */
    background-image: url('/images/logo.svg');
}

.logo-btn-cl {
    /* Установите фоновое изображение */
    background-image: url('/images/logo2.svg');
}

main {
    display: block;
    max-width: 1200px;
    min-width: 60%;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
    padding-top: 60px;
    z-index: 0;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    padding-bottom: 25px;
}

.profile-info .block {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.user {
    display: flex;
    /* Активируем Flexbox */
    flex-wrap: nowrap;
    flex-direction: row;
    /* Располагаем элементы горизонтально */
    justify-content: flex-start;
    /* Выравниваем элементы по левому краю */
    /* align-items: center; */
    /* Выравниваем элементы по центру по вертикали */
    /* Позволяет элементам переноситься на новую строку, если не хватает места */
    gap: 20px;
    /* Добавляем пространство между элементами */
}

.user-info {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.user-info p {
    margin-top: 8px;
}

h1 {
    display: inline-block;
    font-size: 150%;
}

.status-img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    padding: 0 20px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Горизонтальное центрирование */
    gap: 5px;
}

.personal {
    width: 100%;
    padding: 0;
    margin: 0;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -100px;
    width: 50px;
    height: 100%;
    background: linear-gradient(to bottom, rgba(155, 131, 229, 1), rgba(183, 72, 195, 1));
    filter: saturate(0.8);
    color: #fff;
    padding: 10px 15px;
    transition: left 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-menu.open {
    left: 0;
    /* Показываем меню, выезжая его на экран */
}

.side-menu ul li {
    margin-bottom: 20px;
}

.side-menu ul li a span {
    display: none;
}

footer {
    background-color: #F5F5F5;
    color: #0e0b0b;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    font-family: Inter, Arial, sans-serif;
    font-weight: bolder;
    font-size: medium;
    color: #F04FC3;
}

.authors {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}

.authors a {
    color: #F04FC3;
    font-weight: bolder;
    text-decoration: none;
}

/* настройки */

.settings-menu {
    display: flex;
    justify-content: space-around;
    align-items: end;
    flex-wrap: wrap;
    padding: 120px 40px 0;
    gap: 10px;
    margin: 0 30px;
}

.settings-img {
    height: 30px;
}

.settings-point {
    font-size: x-large;
    padding: 0;
    margin: 0;
    color: #F04FC3;
    font-weight: bolder;
    text-decoration: none;
    padding: 0 10px;
}

.settings-button {
    background: none;
    color: none;
    border: none;
}

.contacts-status {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;
    width: 100%;
}

.contacts,
.status {
    display: flex;
    flex-direction: column;
}

.contacts {
    width: 45%;
}

.status {
    width: 55%;
}

.in-data {
    background: linear-gradient(to bottom, rgba(120, 88, 224, 0.15), rgba(161, 3, 175, 0.15));
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 250px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
}

.input-group input {
    border: none;
    height: 25px;
    border-radius: 2px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
}

.input-group input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-weight: bolder;
    opacity: 1;
    /* Firefox */
    color: rgba(161, 3, 175, 0.322);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-weight: bolder;
    color: rgba(161, 3, 175, 0.322);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    font-weight: bolder;
    color: rgba(161, 3, 175, 0.322);
}

/* Стилизация подсказки для браузеров, поддерживающих псевдоэлемент ::placeholder */
input::placeholder {
    font-weight: bolder;
    color: rgba(161, 3, 175, 0.322);
}

.input-group label {
    font-weight: bolder;
}

.in-data form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    box-sizing: border-box;
}

.contacts h3,
.status h3,
.projects h3,
.skills h3,
.experience h3,
.about-me h3 {
    padding: 0 10px 10px;
    font-size: 130%;
}

.status .in-data label {
    font-weight: bolder;
    font-size: 120%;
}

.status .in-data form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.projects,
.skills,
.experience,
.about-me {
    padding-top: 20px;
}

.projects .in-data {
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.projects .projs {
    width: 50%;  
}

.projs .in-projs {
    overflow: scroll;
    scrollbar-width: none;
    height: 350px;
}

.projs .proj {
    background: linear-gradient(to bottom, rgba(120, 88, 224, 0.15), rgba(161, 3, 175, 0.15));
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    position: relative; /* Это делает .proj контейнером для абсолютного позиционирования кнопки */
    min-height: 100px;
    flex-direction: column;
}

.proj .delete-proj {
    background-image: url('/images/delete_proj.svg');
    background-position: center;
    cursor: pointer;
    /* Убедитесь, что фоновое изображение не повторяется */
    background-repeat: no-repeat;
    /* Установите размер фонового изображения */
    background-size: contain;
    /* Установите цвет фона, который будет виден, если изображение не загрузится */
    background-color: transparent;
    border: none;
    padding: 10px;
    position: absolute; /* Абсолютное позиционирование кнопки относительно .proj */
    top: 15px; /* Отступ от верхнего края контейнера */
    right: 15px; /* Отступ от правого края контейнера */
}

.proj-role {
    padding-bottom: 10px;
    font-size: smaller;
    font-weight: bolder;
}

.proj-descripton {
    padding: 10px 0;
    font-weight: bolder;
}

.proj-button {
    background: linear-gradient(to bottom, rgba(120, 88, 224, 0.15), rgba(161, 3, 175, 0.25));
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    width: 120px;
    height: 35px;
    font-family: Inter, Arial, sans-serif;
    font-size: medium;
    margin: 20px 0 10px;
    cursor: pointer;
}

.proj-button:hover {
    background-color: rgba(161, 3, 175, 0.39); /* Изменяем фон при наведении */
    box-shadow: none;
}

.projects form {
    width: 40%;
}

input {
    height: 30px;
}

.proj-submit-button {
    background: linear-gradient(to bottom, rgba(120, 88, 224, 0.15), rgba(161, 3, 175, 0.25));
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: black; /* Белый текст */
    width: 120px;
    border: none; /* Убираем границу */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Изменяем курсор на указатель при наведении */
    transition: background-color 0.3s ease; /* Анимация при наведении */
    font-weight: bolder;
    text-align: center;   
    font-size: medium;
    font-family: Inter, Arial, sans-serif;
}

.proj-submit-button:hover {
    background-color: rgba(161, 3, 175, 0.39); /* Изменяем фон при наведении */
    box-shadow: none;
}

.input-data {
    background: linear-gradient(to bottom, rgba(120, 88, 224, 0.15), rgba(161, 3, 175, 0.15));
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 250px;
    width: 100%;
    box-sizing: border-box;
    align-items: start;
    outline: none;
    resize: none;
    font-size: 20px;
    font-family: Inter, Arial, sans-serif;
}

.about-me .input-data {
    height: 70px;
    box-sizing: border-box;
}

.about-me .in-data {
    height: auto;
}

.for-page, 
.for-search {
    margin: 0 10px;
    padding-bottom: 10px;
}

.skill-search,
.selected-skills {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 10px;
}

.warning {
    padding: 10px 0;
    font-weight: bolder;
    font-family: Inter, Arial, sans-serif;
    color: rgba(161, 3, 175, 0.322);

}

.skills .in-data {
    display: flex;
    flex-direction: row;
    height: auto;
}

.sk {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.skill {
    display: flex;
    background: linear-gradient(to bottom, rgba(120, 88, 224, 0.35), rgba(161, 3, 175, 0.35));
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    font-weight: bold;
    width: min-content;
    height: min-content;
    margin: 5px;
    padding: 5px 15px;
    gap: 5px;
}

.delete-skill {
    background-image: url('/images/delete_skill.svg');
    background-position: center;
    cursor: pointer;
    /* Убедитесь, что фоновое изображение не повторяется */
    background-repeat: no-repeat;
    /* Установите размер фонового изображения */
    background-size: 50% 50%;
    /* Установите цвет фона, который будет виден, если изображение не загрузится */
    background-color: transparent;
    border: none;
    padding: 10px;
}

.custom-select {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    
    min-height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 100%;
}

.selected-categories {
    border: none;
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.selected-categories .category {
    font-family: Inter, Arial, sans-serif;
    background-color: rgba(250, 134, 217, 1);
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.options-container {
    display: none;
    position: absolute;
    width: 100%;
    border: none;
    background-color: #fff;
    box-sizing: border-box;
    overflow: scroll;
    scrollbar-width: none;
    max-height: 100px;
    border-radius: 10px;
    top: 100%; /* Позиционируем список категорий под .selected-categories */
    left: 0; /* Выравниваем список категорий по левому краю .custom-select */
}

.option {
    padding: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: #f1f1f1;
}

.search-input{
    background-color: hsl(from color h s l);
    flex-grow: 1; /* Добавляем flex-grow */
    border: none;
    order: 1;
}

.search-input:focus {
    outline: none; /* Удаляем стандартный контур */
    box-shadow: none; /* Удаляем стандартное тенистое окружение */
    border-color: transparent; /* Удаляем стандартный цвет границы */
}

.search-button {
    background-image: url('/images/search.svg');
    border: none;
    flex-shrink: 0; /* Предотвращает сжатие кнопки */
    flex-grow: 0; /* Предотвращает растяжение кнопки */
    flex-basis: 30px; /* Задает базовый размер кнопки */

    width: 30px;
    height: 30px;
    background-position: center;
    cursor: pointer;
    /* Убедитесь, что фоновое изображение не повторяется */
    background-repeat: no-repeat;
    /* Установите размер фонового изображения */
    background-size: contain;
    /* Установите цвет фона, который будет виден, если изображение не загрузится */
    background-color: transparent;
    /* Добавьте другие стили, если необходимо */
    border: none;
    font-size: 16px;
    margin: 5px 10px;
}

.save {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
}

.save-butt {
    background: linear-gradient(to bottom, rgba(120, 88, 224, 0.15), rgba(161, 3, 175, 0.25));
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    width: 130px;
    height: 40px;
    font-family: Inter, Arial, sans-serif;
    font-size: large;
    margin: 20px 0;
    cursor: pointer;
}

.save-butt:hover {
    background-color: rgba(161, 3, 175, 0.39); /* Изменяем фон при наведении */
    box-shadow: none;
}


/* а теперь все для мобилок */

@media only screen and (max-width: 600px) {

    header {
        flex-direction: column;
        /* Изменяем направление flex на вертикальное */
        padding: 5px 10px;
        /* Уменьшаем отступы */
        box-shadow: none;
        background-color: transparent;
        position: fixed;
        width: 70px;
        height: 70px;
        bottom: 5px;
        right: 5px;
        top: auto;
    }

    .logo-btn {
        height: 60px;
        width: 60px;
    }

    main {
        padding: 10px;
        /* Уменьшаем отступы */
        padding-top: 30px;
        /* Увеличиваем отступ сверху, чтобы учесть фиксированный header */

    }

    .profile-info {
        width: 100%;
    }

    .profile-info .block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .user {
        align-items: center;
    }

    .profile-info,
    .user {
        flex-direction: column;
        /* Изменяем направление flex на вертикальное */
    }

    footer {
        padding: 5px 0;
        /* Уменьшаем отступы */
        flex-direction: column;
    }

    .authors {
        flex-direction: column;
        padding: 20px 0;
    }

    .worksheet {
        width: 100%;
        max-width: none;
        min-width: none;
    }

    .user-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .user .user-info p {
        font-size: 100%;
        /* Уменьшаем размер шрифта */
    }

    .personal {
        width: 100%;
        text-align: center;
    }

    .status-img {
        width: 15px;
        height: 15px;
    }

    .side-menu {
        left: -80%;
        width: 60%;
        height: 100%;
        justify-content: flex-end;
    }

    .side-menu.open {
        left: 0;
        /* Показываем меню, выезжая его на экран */
    }

    .side-menu ul li a span {
        display: inline;
    }

    .side-menu ul li a {
        display: flex;
        /* Делаем ссылки блочными элементами */
        align-items: center;
        width: 100%;
        /* Заставляем их занимать всю ширину родительского элемента */
        height: 100%;
        /* Заставляем их занимать всю высоту родительского элемента */
        text-decoration: none;
        /* Убираем подчеркивание у ссылок */
        color: inherit;
        /* Наследуем цвет текста от родительского элемента */
        padding: 10px;
        /* Добавляем внутренний отступ для удобства нажатия */
        gap: 15px;
    }

    .side-menu ul li a span {
        font-family: Inter, Arial, sans-serif;
        font-size: 120%;
        color: #F5F5F5;
    }

    .side-menu ul .btt {
        display: none;
    }

    h1 {
        font-size: 150%;
        text-align: center;
    }

    .results {
        padding: 0;
    }

    .settings-menu {
        padding: 20px;
    }

    .contacts-status {
        flex-direction: column;
        gap: 20px;
        box-sizing: border-box;
        width: 100%;
    }

    .contacts,
    .status {
        width: 100%;
    }

    .input-group {
        flex-direction: column;
        gap: 10px;
    }

    .input-group input {
        height: 30px;
    }

    .in-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-me .in-data {
        justify-content: start;
    }

    .about-me .input-data {
        padding: 5px;
        height: 85px;
    }

    .contacts .input-group {
        align-items: start;
    }

    .contacts .input-group input{
        width: 100%;
    }

    .status .in-data form label {
        font-size: 130%;
    }

    .status .in-data form label img {
        height: 35px;
        width: 35px;
    }

    .projects form,
    .projects .projs {
        width: 100%;
    }

    .projects .in-data {
        flex-direction: column;
    }

    .settings-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;

    }

    .settings-point {
        font-size: 180%;
    }

    .settings-button {
        cursor: pointer;
    }

    .settings-point.hidden {
        display: none;
    }

    .settings-button:focus+.settings-point.hidden,
    .settings-button:focus~.settings-point.hidden {
        display: block;
    }

    .settings-button:focus {
        outline: none;
    }

    .skill-search, 
    .selected-skills {
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        align-items: start;
    }
    
    .skills .in-data {
        justify-content: start;
        flex-direction: column;
        gap: 20px;
    }

}

@media only screen and (max-width: 280px) {
    .side-menu {
        left: -95%;
        width: 80%;
    }
}