html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F5F5;

    height: 100%;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 120%;
    font-style: normal;
}

h1,
h2 {
    margin-top: 0;
    /* Удаление верхнего отступа */
    margin-bottom: 0;
    /* Удаление нижнего отступа */
}

.chapter {
    padding-bottom: 20px;
}

header {
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo-btn,
.logo-btn-cl {
    width: 50px;
    height: 50px;
    background-position: center;
    cursor: pointer;
    /* Убедитесь, что фоновое изображение не повторяется */
    background-repeat: no-repeat;
    /* Установите размер фонового изображения */
    background-size: contain;
    /* Установите цвет фона, который будет виден, если изображение не загрузится */
    background-color: transparent;
    /* Добавьте другие стили, если необходимо */
    border: none;
    font-size: 16px;
    padding: 10px;
    /* Установите фоновое изображение */
    background-image: url('../images/logo.svg');
}

.logo-btn-cl {
    /* Установите фоновое изображение */
    background-image: url('../images/logo2.svg');
}

main {
    display: block;
    max-width: 1200px;
    min-width: 60%;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
    padding-top: 120px;
    z-index: 0;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    padding-bottom: 25px;
}

.profile-info .block {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.user {
    display: flex;
    /* Активируем Flexbox */
    flex-wrap: nowrap;
    flex-direction: row;
    /* Располагаем элементы горизонтально */
    justify-content: flex-start;
    /* Выравниваем элементы по левому краю */
    /* align-items: center; */
    /* Выравниваем элементы по центру по вертикали */
    /* Позволяет элементам переноситься на новую строку, если не хватает места */
    gap: 20px;
    /* Добавляем пространство между элементами */
}

.user-info {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.user-info p {
    margin-top: 8px;
}

.profile-img {
    width: 100px;
    /* Устанавливаем ширину */
    height: 100px;
    /* Устанавливаем высоту */
    border-radius: 50%;
    /* Делаем изображение круглым */
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    display: inline-block;
    font-size: 150%;
}

.status-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    padding: 0 20px;
}

.contacts {
    margin-top: 20px;
    min-width: 30%;
    display: grid;
    /* Делаем блок grid контейнером */
    justify-content: center;
    /* Центрируем содержимое по горизонтали */
    align-content: center;
    /* Центрируем содержимое по вертикали */
    height: 100px;
    /* Устанавливаем высоту, чтобы увидеть эффект центрирования */
}

.contacts button {
    width: 100%;
    /* Делаем кнопку по ширине блока адрес */
    padding: 10px 0;
    /* Добавляем вертикальный отступ для кнопки */
    background-color: #e4dee6;
    /* Прозрачный фон */
    border: none;
    /* Убираем границы */
    border-radius: 10px;
    color: #000;
    font-family: Inter, Arial, sans-serif;
    font-weight: bold;
    /* Цвет текста */
    cursor: pointer;
    /* Изменяем курсор на указатель при наведении */
    transition: background-color 0.3s ease;
    /* Добавляем плавный переход цвета фона */
}

.contacts button:hover {
    background-color: rgb(180, 126, 186);
    transform: scale(1.05);
    /* Добавляем легкий фон при наведении */
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Горизонтальное центрирование */
    gap: 5px;
}

.data {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    /* Добавляем пространство между элементами */
    justify-content: space-between;
    /* Горизонтальное центрирование */
    align-items: start;
}

.projects,
.additional {
    background: linear-gradient(to bottom, rgba(120, 88, 224, 0.15), rgba(161, 3, 175, 0.15));
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.projects {
    /* Обеспечивает базовую ширину */
    /* Устанавливает минимальную ширину, чтобы предотвратить слишком маленькую ширину */
    /* height: 100%; */
    height: 300px;
    box-sizing: border-box;
}

.in-data {
    overflow: scroll;
    scrollbar-width: none;
    height: 200px;
}


.projects {
    max-width: 75%;
    min-width: 65%;
}

.additional {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.personal {
    width: 100%;
}

.in-additional li,
.in-additional p {
    font-size: 120%;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0 0 20px;
    line-height: 1.5;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -100px;
    width: 50px;
    height: 100%;
    background: linear-gradient(to bottom, rgba(155, 131, 229, 1), rgba(183, 72, 195, 1));
    filter: saturate(0.8);
    color: #fff;
    padding: 10px 15px;
    transition: left 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-menu.open {
    left: 0;
    /* Показываем меню, выезжая его на экран */
}

.side-menu ul li {
    margin-bottom: 20px;
}

.side-menu ul li a span {
    display: none;
}

footer {
    background-color: #F5F5F5;
    color: #0e0b0b;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    margin-top: auto;
    margin-bottom: auto;

}

/* анкеты */

.search {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 30px 0;
    gap: 20px;
}

.custom-select {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    
    min-height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 70%;
}

.select-status,
.select-group {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    min-height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 100%;
    font-size: 120%;
    font-family: Inter, Arial, sans-serif;
    height: 100%;
    border: none; /* Удаляем стандартную границу */
}

.select-status option,
.select-group option {
    padding: 5px; /* Добавляем отступ */
    border: none;
    cursor: pointer; /* Изменяем курсор на указатель */
}

.select-status:focus,
.select-group:focus {
    outline: none; /* Удаляем стандартный контур */
    border: none; 
}

.selects{
    display: flex;
    width: 30%;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.selected-categories {
    border: none;
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.selected-categories .category {
    font-family: Inter, Arial, sans-serif;
    background-color: rgba(250, 134, 217, 1);
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.options-container {
    display: none;
    position: absolute;
    width: 100%;
    border: none;
    background-color: #fff;
    box-sizing: border-box;
    overflow: scroll;
    scrollbar-width: none;
    max-height: 100px;
    border-radius: 10px;
    top: 100%; /* Позиционируем список категорий под .selected-categories */
    left: 0; /* Выравниваем список категорий по левому краю .custom-select */
}

.option {
    padding: 5px;
    cursor: pointer;
}

.option:hover {
    background-color: #f1f1f1;
}

.search-input{
    background-color: hsl(from color h s l);
    flex-grow: 1; /* Добавляем flex-grow */
    border: none;
    order: 1;
}

.search-input:focus {
    outline: none; /* Удаляем стандартный контур */
    box-shadow: none; /* Удаляем стандартное тенистое окружение */
    border-color: transparent; /* Удаляем стандартный цвет границы */
}

.search-button {
    background-image: url('../images/search.svg');
    border: none;
    flex-shrink: 0; /* Предотвращает сжатие кнопки */
    flex-grow: 0; /* Предотвращает растяжение кнопки */
    flex-basis: 30px; /* Задает базовый размер кнопки */

    width: 30px;
    height: 30px;
    background-position: center;
    cursor: pointer;
    /* Убедитесь, что фоновое изображение не повторяется */
    background-repeat: no-repeat;
    /* Установите размер фонового изображения */
    background-size: contain;
    /* Установите цвет фона, который будет виден, если изображение не загрузится */
    background-color: transparent;
    /* Добавьте другие стили, если необходимо */
    border: none;
    font-size: 16px;
    margin: 5px 10px;
}

.wolf-qoute {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 0;
    z-index: -1;
}

.wolf-qoute img {
    width: 100%; /* Установите ширину изображения равной 100% */
    height: auto; /* Установите высоту автоматически, чтобы сохранить пропорции */
    transform: scale(0.7);
}

.worksheet {
    width: 100%;
    background: linear-gradient(to bottom, rgba(120, 88, 224, 0.15), rgba(161, 3, 175, 0.15));
    border-radius: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 0 20px;
}

.results{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
    padding: 0 40px;
    padding-top: 50px;
}

.skills {
    display: flex;
    height: 30px;
    gap: 5px;
}

.skill {
    display: flex;
    background: linear-gradient(to bottom, rgba(120, 88, 224, 0.35), rgba(161, 3, 175, 0.35));
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    font-weight: bold;
}


/* а теперь все для мобилок */

@media only screen and (max-width: 600px) {

    header {
        flex-direction: column;
        /* Изменяем направление flex на вертикальное */
        padding: 5px 10px;
        /* Уменьшаем отступы */
        box-shadow: none;
        background-color: transparent;
        position: fixed;
        width: 70px;
        height: 70px;
        bottom: 5px;
        right: 5px;
        top: auto;
    }

    .logo-btn {
        height: 60px;
        width: 60px;
    }

    main {
        padding: 10px;
        /* Уменьшаем отступы */
        padding-top: 60px;       
        /* Увеличиваем отступ сверху, чтобы учесть фиксированный header */
    }

    .profile-info {
        width: 100%;
    }

    .profile-info .block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }


    

    .user {
        align-items: center;
    }
    .profile-info,
    .user,
    .contacts {
        flex-direction: column;
        /* Изменяем направление flex на вертикальное */
    }

    .contacts button {
        padding: 5px 0;
        height: 40px;
        /* Уменьшаем вертикальный отступ */
        font-size: 100%;
    }

    footer {
        padding: 5px 0;
        /* Уменьшаем отступы */
    }

    .data {
        flex-wrap: wrap;
        width: 100%;
    }

    .projects,
    .worksheet {
        width: 100%;
        max-width: none;
        min-width: none;
    }

    .profile-img {
        width: 80px;
        /* Уменьшаем размер изображения */
        height: 80px;
    }

    .user-info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .user .user-info p,
    .in-additional li,
    .in-additional p {
        font-size: 100%;
        /* Уменьшаем размер шрифта */
    }

    .additional {
        flex-direction: column;
        gap: 10px;
    }

    .personal {
        width: 100%;
        text-align: center;
    }


    .in-additional li,
    .in-additional p {
        font-size: 130%;
    }

    .profile-img {
        width: 150px;
        /* Устанавливаем ширину */
        height: 150px;
        /* Устанавливаем высоту */
    }

    .status-img {
        width: 35px;
        height: 35px;
    }

    .side-menu {
        left: -80%;
        width: 60%;
        height: 100%;
        justify-content: flex-end;
    }

    .side-menu.open {
        left: 0;
        /* Показываем меню, выезжая его на экран */
    }

    .side-menu ul li a span {
        display: inline;
    }

    .side-menu ul li a {
        display: flex;
        /* Делаем ссылки блочными элементами */
        align-items: center;
        width: 100%;
        /* Заставляем их занимать всю ширину родительского элемента */
        height: 100%;
        /* Заставляем их занимать всю высоту родительского элемента */
        text-decoration: none;
        /* Убираем подчеркивание у ссылок */
        color: inherit;
        /* Наследуем цвет текста от родительского элемента */
        padding: 10px;
        /* Добавляем внутренний отступ для удобства нажатия */
        gap: 15px;
    }

    .side-menu ul li a span {
        font-family: Inter, Arial, sans-serif;
        font-size: 120%;
        color: #F5F5F5;
    }

    .side-menu ul .btt {
        display: none;
    }

    h1 {
        font-size: 150%;
        text-align: center;
    }

    .results{
        padding: 0;
    }
}

@media only screen and (max-width: 280px) {
    .side-menu {
        left: -95%;
        width: 80%;
    }
}