<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личная страница</title>
    <link rel="stylesheet" href="https://storage.yandexcloud.net/webber20/css/s.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="images/logo.svg" type="image/svg+xml">
</head>

<body>
    <header>
        <button id="menu" class="logo-btn"></button>
        <nav id="sideMenu" class="side-menu">
            <ul>
                <li class="btt">
                    <button id="menuClose" class="logo-btn-cl"></button>
                </li>
                <li class="lk">
                    <a onclick='window.location.replace(`/lk`)'>
                        <img src="images/home.svg" alt="home"><span>личный кабинет</span>
                    </a>
                </li>
                <li class="wsh">
                    <a onclick='window.location.replace(`/worksheets`)'>
                        <img src="images/anketa.svg" alt="worksheet"><span>анкеты</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li class="sett">
                    <a onclick='window.location.replace(`/settings`)'>
                        <img src="images/sett.svg" alt="settings"><span>настройки</span>
                    </a>
                </li>
                <li class="ex">
                    <a onclick='window.location.replace(`/exit`)'>
                        <img src="images/exit.svg" alt="exit"><span>выход</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <script>
        document.getElementById('menu').addEventListener('click', function () {
            document.getElementById('sideMenu').classList.toggle('open');
        });
        document.getElementById('menuClose').addEventListener('click', function () {
            document.getElementById('sideMenu').classList.toggle('open');
        });

        // это для мобилок 
        document.addEventListener('DOMContentLoaded', function () {
            var sideMenu = document.getElementById('sideMenu');
            var startX, endX;

            document.addEventListener('touchstart', function (e) {
                startX = e.touches[0].clientX;
            });

            document.addEventListener('touchend', function (e) {
                endX = e.changedTouches[0].clientX;
                handleSwipe();
            });

            function handleSwipe() {
                if (endX - startX > 50) { // Если свайп вправо
                    sideMenu.classList.add('open');
                } else if (startX - endX > 50) { // Если свайп влево
                    sideMenu.classList.remove('open');
                }
            }
        });
    </script>
    <main>
        <section class="profile-info">
            <article class="user">
                <img src="images/avatar.jpg" alt="Фото" class="profile-img">
                <div class="user-info">
                    <div class="name">
                        <h1>Ингиборга Дапкунайте</h1>
                        <img src="images/status/status2.svg" alt="Статус" class="status-img" title="Не ищет команду">
                    </div>
                    <p class="group">ФТ-203</p>
                </div>
            </article>
            <address class="contacts">
                <ul>
                    <li>Телеграм: @SuperBig</li>
                    <li>Github: SuperBig</li>
                    <li><button id="contact">Связаться</button></li>
                </ul>
            </address>
        </section>
        <section class="info">
            <article class="data">
                <section class="projects">
                    <h2 class="chapter">Проекты</h2>
                    <div class="in-data">
                        <div class="proj">
                            <h2 id="proj-name">Personnel</h2>
                            <span id="proj-role" class="proj-role">test-engineer</span>
                            <span id="proj-descripton" class="proj-descripton">Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit.
                                Accusamus officiis quam perferendis commodi dolorum esse illo amet deleniti
                                exercitationem incidunt!</span>
                            <button class="proj-button">посмотреть</button>
                        </div>
                        <div class="proj">
                            <h2 id="proj-name">Personnel</h2>
                            <span id="proj-role" class="proj-role">test-engineer</span>
                            <span id="proj-descripton" class="proj-descripton">Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit.
                                Accusamus officiis quam perferendis commodi dolorum esse illo amet deleniti
                                exercitationem incidunt!</span>
                            <button class="proj-button">посмотреть</button>
                        </div>
                    </div>
                </section>
                <section class="skills">
                    <h2 class="chapter">Навыки</h2>
                    <ul class="in-data">
                        <li>SQL</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>КПСС</li>
                    </ul>
                </section>
            </article>

            <article class="additional">
                <section class="experience">
                    <h2 class="chapter">Опыт работы</h2>
                    <ul class="in-additional">
                        <li>Здесь можно добавить информацию о своем опыте работы.</li>
                        <li>Здесь можно добавить информацию о своем опыте работы.</li>
                    </ul>
                </section>
                <section class="personal">
                    <h2 class="chapter">О себе</h2>
                    <div class="in-additional">
                        <p>Я интроверт, и немного стеснительный, так что если вы хотите устраивать еженедельные созвоны
                            по
                            проекту, будьте готовы, что я не включу камеру.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id asperiores eum, velit debitis
                            eligendi omnis odio. Quaerat, at ut! Culpa ipsum at quibusdam sunt reiciendis? Quae
                            recusandae
                            est porro? Voluptates!</p>
                    </div>
                </section>
            </article>
        </section>
    </main>

    <footer>
        <section class="authors">
            Анкеты создателей: 
            <a href="">Сеня Л.</a>
            <a href="">Лена П.</a>
            <a href="">Слава С.</a>
            <a href="">Андрей Х.</a>
        </section>
        <section class="year">2024 ФИИТ</section>
    </footer>


    <script>
        const contact = document.getElementById('contact');
        let contactClick = function() {
            window.location.href='https://telegram.me/andrey_hov';
        }
        contact.addEventListener('click', contactClick);
    </script>
</body>

</html>