<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="https://storage.yandexcloud.net/webber20/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="https://storage.yandexcloud.net/webber20/html/images/logo.svg" type="image/svg+xml">
</head>

<body>
    <div class="login-container">
        <div class="logo">
            <img src="https://storage.yandexcloud.net/webber20/html/images/logo.svg" alt="лого">
        </div>
        <form action='/api/login'>
            <div class="input-group">
                <label for="login">Логин</label>
                <input id="login" type="text" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Пароль</label>
                <input id="password" type="password" name="password" required>
            </div>
            <button type="submit" id="entrance">Войти</button>
        </form>
    </div>


    <script src="login.js"></script>
</body>

</html>