<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анкеты</title>
    <link rel="stylesheet" href="https://storage.yandexcloud.net/webber20/css/worksheets.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="images/logo.svg" type="image/svg+xml">
</head>

<body>
    <header>
        <button id="menu" class="logo-btn"></button>
        <nav id="sideMenu" class="side-menu">
            <ul>
                <li class="btt">
                    <button id="menuClose" class="logo-btn-cl"></button>
                </li>
                <li class="lk">
                    <a onclick='window.location.replace(`/lk`)'>
                        <img src="https://storage.yandexcloud.net/webber20/html/images/home.svg" alt="home"><span>личный кабинет</span>
                    </a>
                </li>
                <li class="wsh">
                    <a onclick='window.location.replace(`/worksheets`)'>
                        <img src="https://storage.yandexcloud.net/webber20/html/images/anketa.svg" alt="worksheet"><span>анкеты</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li class="sett">
                    <a onclick='window.location.replace(`/settings`)'>
                        <img src="https://storage.yandexcloud.net/webber20/html/images/sett.svg" alt="settings"><span>настройки</span>
                    </a>
                </li>
                <li class="ex">
                    <a onclick='window.location.replace(`/exit`)'>
                        <img src="https://storage.yandexcloud.net/webber20/html/images/exit.svg" alt="exit"><span>выход</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <script>
        document.getElementById('menu').addEventListener('click', function () {
            document.getElementById('sideMenu').classList.toggle('open');
        });
        document.getElementById('menuClose').addEventListener('click', function () {
            document.getElementById('sideMenu').classList.toggle('open');
        });

        // это для мобилок 
        document.addEventListener('DOMContentLoaded', function () {
            const sideMenu = document.getElementById('sideMenu');
            let startX, endX;

            document.addEventListener('touchstart', function (e) {
                startX = e.touches[0].clientX;
            });

            document.addEventListener('touchend', function (e) {
                endX = e.changedTouches[0].clientX;
                handleSwipe();
            });

            function handleSwipe() {
                if (endX - startX > 50) { // Если свайп вправо
                    sideMenu.classList.add('open');
                } else if (startX - endX > 50) { // Если свайп влево
                    sideMenu.classList.remove('open');
                }
            }
        });
    </script>
    <main>
        <div class="wolf-qoute">
            <img src="https://storage.yandexcloud.net/webber20/html/images/kadrylalala.png" alt="что-то умное">
        </div>

        <form class="search">
            <div class="custom-select">
                <div class="selected-categories" id="selectedCategories">
                    <div class="options-container" id="optionsContainer"></div>
                    <input onkeyup="searching(this.value)" type="text" class="search-input">
                </div>
                <button class="search-button" type="submit"></button>
            </div>
            <div class="selects">
                <label>
                    <select class="select-status">
                        <option value="0">Не выбрано</option>
                        <option value="Готов вступить в команду">Ищет команду</option>
                        <option value="Не ищет команду">Не ищет команду</option>
                        <option value="В команде">Состоит в команде</option>
                    </select>
                </label>
                <label>
                    <select class="select-group">
                        <option value="0">Не выбрано</option>
                        <option value="101">ФТ-101</option>
                        <option value="102">ФТ-102</option>
                        <option value="103">ФТ-103</option>
                        <option value="104">ФТ-104</option>
                        <option value="201">ФТ-201</option>
                        <option value="202">ФТ-202</option>
                        <option value="203">ФТ-203</option>
                        <option value="204">ФТ-204</option>
                        <option value="301">ФТ-301</option>
                        <option value="302">ФТ-302</option>
                        <option value="303">ФТ-303</option>
                        <option value="304">ФТ-304</option>
                        <option value="401">ФТ-401</option>
                        <option value="402">ФТ-402</option>
                        <option value="403">ФТ-403</option>
                        <option value="404">ФТ-404</option>
                    </select>
                </label>
            </div>
        </form>

        <script src="loadOptions.js">
        </script>

        <article class="results">
            <%- list %>
        </article>

        <script type="module" src="searchStudents.js">
        </script>

        <script>
            function getPage(tg) {
                window.open(`/lk2?tg=${tg}`);
            }
        </script>

    </main>

    <footer>
        <section class="authors">
            Анкеты создателей: 
            <a href="http://kadry.na4u.ru/lk2?tg=@Senya_Luz">Сеня Л.</a>
            <a href="http://kadry.na4u.ru/lk2?tg=@plyusnina_el">Лена П.</a>
            <a href="http://kadry.na4u.ru/lk2?tg=@savas_ultano">Слава С.</a>
            <a href="http://kadry.na4u.ru/lk2?tg=@andrey_hov">Андрей Х.</a>
        </section>
        <section class="year">2024 ФИИТ</section>
    </footer>

</body>

</html>