body {
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F5F5;

    height: 100%;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 15px;
    font-weight: bold;
}

header {
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
}

.logo-btn,
.logo-btn-cl {
    width: 50px;
    height: 50px;
    background-position: center;
    cursor: pointer;
    /* Убедитесь, что фоновое изображение не повторяется */
    background-repeat: no-repeat;
    /* Установите размер фонового изображения */
    background-size: contain;
    /* Установите цвет фона, который будет виден, если изображение не загрузится */
    background-color: transparent;
    /* Добавьте другие стили, если необходимо */
    border: none;
    font-size: 16px;
    padding: 10px;
    /* Установите фоновое изображение */
    background-image: url('Кад ры.svg');
}

.logo-btn-cl {
    /* Установите фоновое изображение */
    background-image: url('Кад ры2.svg');
}

.container {
    display: block;
    max-width: 1200px;
    min-width: 60%;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
    padding-top: 120px;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.user {
    display: flex;
    /* Активируем Flexbox */
    flex-wrap: nowrap;
    flex-direction: row;
    /* Располагаем элементы горизонтально */
    justify-content: flex-start;
    /* Выравниваем элементы по левому краю */
    align-items: center;
    /* Выравниваем элементы по центру по вертикали */
    /* Позволяет элементам переноситься на новую строку, если не хватает места */
    gap: 20px;
    /* Добавляем пространство между элементами */
}

.profile-img {
    width: 100px;
    /* Устанавливаем ширину */
    height: 100px;
    /* Устанавливаем высоту */
    border-radius: 50%;
    /* Делаем изображение круглым */
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.contacts {
    margin-top: 20px;
    min-width: 400px;
    display: grid;
    /* Делаем блок grid контейнером */
    justify-content: center;
    /* Центрируем содержимое по горизонтали */
    align-content: center;
    /* Центрируем содержимое по вертикали */
    height: 100px;
    /* Устанавливаем высоту, чтобы увидеть эффект центрирования */
}

.info {
    display: blok;
    justify-content: center;
    /* Горизонтальное центрирование */
    align-items: center;
    /* Вертикальное центрирование */
    gap: 20px;
    /* padding: 20px; */
}

.data {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    /* Добавляем пространство между элементами */
    justify-content: space-between;
    /* Горизонтальное центрирование */
    align-items: start;
}

.projects,
.skills,
.experience {
    background-color: #E4D5EE;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

.projects,
.skills {
    /* Обеспечивает базовую ширину */
    min-width: 200px;
    /* Устанавливает минимальную ширину, чтобы предотвратить слишком маленькую ширину */
    height: 100%;
    min-height: 300px;
    box-sizing: border-box;
}

.skills {
    width: 35%;
}

.projects {
    max-width: 75%;
    min-width: 65%;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -100px;
    /* Скрываем меню за левой границей экрана */
    width: 50px;
    height: 100%;
    background-color: rgba(120, 88, 224, 1);
    color: rgba(120, 88, 224, 1);
    padding: 20px;
    transition: left 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Анимация выезжания */
}

.side-menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
}

.side-menu.open {
    left: 0;
    /* Показываем меню, выезжая его на экран */
}

footer {
    background-color: #F5F5F5;
    color: #0e0b0b;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    margin-top: auto;
    margin-bottom: auto;

}

@media only screen and (min-width: 600px) {
    .profile-info {
        grid-template-columns: 1fr 1fr;
    }
}