html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F5F5;

    height: 100%;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 120%;
    font-style: normal;
}

h1,
h2 {
    margin-top: 0;
    /* Удаление верхнего отступа */
    margin-bottom: 0;
    /* Удаление нижнего отступа */
}

.chapter {
    padding-bottom: 20px;
}

header {
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
}

.logo-btn,
.logo-btn-cl {
    width: 50px;
    height: 50px;
    background-position: center;
    cursor: pointer;
    /* Убедитесь, что фоновое изображение не повторяется */
    background-repeat: no-repeat;
    /* Установите размер фонового изображения */
    background-size: contain;
    /* Установите цвет фона, который будет виден, если изображение не загрузится */
    background-color: transparent;
    /* Добавьте другие стили, если необходимо */
    border: none;
    font-size: 16px;
    padding: 10px;
    /* Установите фоновое изображение */
    background-image: url('Кад ры.svg');
}

.logo-btn-cl {
    /* Установите фоновое изображение */
    background-image: url('Кад ры2.svg');
}

main {
    display: block;
    max-width: 1200px;
    min-width: 60%;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
    padding-top: 120px;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    padding-bottom: 25px;
}

.user {
    display: flex;
    /* Активируем Flexbox */
    flex-wrap: nowrap;
    flex-direction: row;
    /* Располагаем элементы горизонтально */
    justify-content: flex-start;
    /* Выравниваем элементы по левому краю */
    align-items: center;
    /* Выравниваем элементы по центру по вертикали */
    /* Позволяет элементам переноситься на новую строку, если не хватает места */
    gap: 20px;
    /* Добавляем пространство между элементами */
}

.user-info p {
    margin: 3px;
    font-size: 120%;
}

.profile-img {
    width: 100px;
    /* Устанавливаем ширину */
    height: 100px;
    /* Устанавливаем высоту */
    border-radius: 50%;
    /* Делаем изображение круглым */
    object-fit: cover;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.name {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    /* Центрируем содержимое по горизонтали */
    align-items: center;
    /* Центрируем содержимое по вертикали */
    gap: 10px;
}

.name h1 {
    display: inline-block;
    width: min-content;
    font-size: 200%;
}

.status-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.contacts {
    margin-top: 20px;
    min-width: 30%;
    display: grid;
    /* Делаем блок grid контейнером */
    justify-content: center;
    /* Центрируем содержимое по горизонтали */
    align-content: center;
    /* Центрируем содержимое по вертикали */
    height: 100px;
    /* Устанавливаем высоту, чтобы увидеть эффект центрирования */
}

.contacts button {
    width: 100%;
    /* Делаем кнопку по ширине блока адрес */
    padding: 10px 0;
    /* Добавляем вертикальный отступ для кнопки */
    background-color: #e4dee6;
    /* Прозрачный фон */
    border: none;
    /* Убираем границы */
    border-radius: 10px;
    color: #000;
    font-family: Inter, Arial, sans-serif;
    font-weight: bold;
    /* Цвет текста */
    cursor: pointer;
    /* Изменяем курсор на указатель при наведении */
    transition: background-color 0.3s ease;
    /* Добавляем плавный переход цвета фона */
}

.contacts button:hover {
    background-color: rgb(180, 126, 186);
    transform: scale(1.05);
    /* Добавляем легкий фон при наведении */
}

.info {
    display: blok;
    justify-content: center;
    /* Горизонтальное центрирование */
    align-items: center;
    /* Вертикальное центрирование */
    gap: 20px;
    /* padding: 20px; */
}

.data {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    /* Добавляем пространство между элементами */
    justify-content: space-between;
    /* Горизонтальное центрирование */
    align-items: start;
}

.projects,
.skills,
.additional {
    background: linear-gradient(to bottom, rgba(120, 88, 224, 0.15), rgba(161, 3, 175, 0.15));
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.projects,
.skills {
    /* Обеспечивает базовую ширину */
    /* Устанавливает минимальную ширину, чтобы предотвратить слишком маленькую ширину */
    /* height: 100%; */
    height: 300px;
    box-sizing: border-box;
}

.in-data {
    overflow: scroll;
    scrollbar-width: none;
    height: 200px;
}

.skills {
    width: 35%;
}

.projects {
    max-width: 75%;
    min-width: 65%;
}

.additional {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.experience,
.personal {
    width: 50%;
}

.in-additional li,
.in-additional p {
    font-size: 120%;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0 0 20px;
    line-height: 1.5;
}

.side-menu {
    position: fixed;
    top: 0;
    left: -100px;
    width: 50px;
    height: 100%;
    background: linear-gradient(to bottom, rgba(155, 131, 229, 1), rgba(183, 72, 195, 1));
    filter: saturate(0.8);
    color: #fff;
    padding: 10px 15px;
    transition: left 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-menu.open {
    left: 0;
    /* Показываем меню, выезжая его на экран */
}

.side-menu ul li {
    margin-bottom: 20px;
}

.side-menu ul li a span {
    display: none;
}

footer {
    background-color: #F5F5F5;
    color: #0e0b0b;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    margin-top: auto;
    margin-bottom: auto;

}

/* а теперь все для мобилок */

@media only screen and (max-width: 600px) {

    header {
        flex-direction: column;
        /* Изменяем направление flex на вертикальное */
        padding: 5px 10px;
        /* Уменьшаем отступы */
        box-shadow: none;
        background-color: transparent;
        position: fixed;
        width: 70px;
        height: 70px;
        bottom: 5px;
        right: 5px;
        top: auto;
    }

    .logo-btn {
        height: 60px;
        width: 60px;
    }

    main {
        padding: 10px;
        /* Уменьшаем отступы */
        padding-top: 60px;
        /* Увеличиваем отступ сверху, чтобы учесть фиксированный header */
    }

    .profile-info {
        width: 100%;
    }

    .profile-info,
    .user,
    .contacts {
        flex-direction: column;
        /* Изменяем направление flex на вертикальное */
    }


    .user-info p {
        text-align: center;
    }

    .contacts button {
        padding: 5px 0;
        height: 40px;
        /* Уменьшаем вертикальный отступ */
        font-size: 100%;
    }

    footer {
        padding: 5px 0;
        /* Уменьшаем отступы */
    }

    .data {
        flex-wrap: wrap;
        width: 100%;
    }

    .projects,
    .skills {
        width: 100%;
        max-width: none;
        min-width: none;
    }

    .profile-img {
        width: 80px;
        /* Уменьшаем размер изображения */
        height: 80px;
    }

    .status-img {
        width: 20px;
        /* Уменьшаем размер изображения */
        height: 20px;
    }

    .user .user-info p,
    .in-additional li,
    .in-additional p {
        font-size: 100%;
        /* Уменьшаем размер шрифта */
    }

    .additional {
        flex-direction: column;
        gap: 10px;
    }

    .experience,
    .personal {
        width: 100%;
    }

    .in-additional li,
    .in-additional p {
        font-size: 130%;
    }

    .profile-img {
        width: 150px;
        /* Устанавливаем ширину */
        height: 150px;
        /* Устанавливаем высоту */
    }

    .status-img {
        width: 35px;
        height: 35px;
    }

    .side-menu {
        left: -80%;
        width: 60%;
        height: 100%;
        justify-content: flex-end;
    }

    .side-menu.open {
        left: 0;
        /* Показываем меню, выезжая его на экран */
    }

    .side-menu ul li a span {
        display: inline;
    }

    .side-menu ul li a {
        display: flex;
        /* Делаем ссылки блочными элементами */
        align-items: center;
        width: 100%;
        /* Заставляем их занимать всю ширину родительского элемента */
        height: 100%;
        /* Заставляем их занимать всю высоту родительского элемента */
        text-decoration: none;
        /* Убираем подчеркивание у ссылок */
        color: inherit;
        /* Наследуем цвет текста от родительского элемента */
        padding: 10px;
        /* Добавляем внутренний отступ для удобства нажатия */
        gap: 15px;
    }

    .side-menu ul li a span {
        font-family: Inter, Arial, sans-serif;
        font-size: 120%;
        color: #F5F5F5;
    }

    .side-menu ul .btt {
        display: none;
    }

    .name h1 {
        font-size: 200%;
        text-align: center;
    }
}

@media only screen and (max-width: 280px) {
    .side-menu {
        left: -95%;
        width: 80%;
    }
}